* {
    font-family: 'Raleway', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -60px;
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.navbar {
    border-color: white;
    background-color: white !important;
    height: 80px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1 !important;
    border-bottom-color: rgb(235,235,235);
    box-shadow: 0px 1px 10px #666;
}

.navbar .container {
    position: absolute;
    top: 50%; right: 5%;
    width: 90%;
    height: 50px;
    margin: -25px 0 0 0;
    box-sizing: border-box;
}

.nav a:hover {
    color: rgb(200,200,200) !important;
}

header {
    position: relative;
    height: 40%;
    width: 100% !important;
    margin: 0 !important;
    margin-top: 80px !important;
    padding: 0 !important;
    background: rgba(237, 213, 28, 0.7);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

header .content,
.footer .content {
    position: absolute;
    top: 50%; left: 50%;
    width: 600px;
    height: 80px;
    margin: -40px 0 0 -300px;
    box-sizing: border-box;
}

header .content h1 {
    color: white;
    text-align: center;
}

.mainbody {
    background-color: white;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.mainbody p,
h4,
.mainbody hr {
    width: 60%;
    margin: 0 auto;
}

h4 {
    margin-bottom: 15px;
    font-weight: 600;
}

.mainbody p {
    margin-bottom: 15px;
    font-weight: 400;
}

.mainbody hr {
    height: 3px;
    border: 2px;
    border-top: 1px solid #999;
    padding: 0;
    margin-bottom: 25px;
}

footer {
    height: 300px;
    background: rgba(30,30,30,1);
    position: relative;
}

footer .container {
    position: absolute;
    top: 50%; left: 50%;
    width: 600px;
    height: 120px;
    margin: -60px 0 0 -300px;
    box-sizing: border-box;
    color: white;
}

footer p {
    text-align: center;
}

footer p:last-of-type {
    margin-top: 50px;
}

footer a,
footer a:visited {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color:white;
    text-decoration: none;
}

.lowercase {
    text-transform: lowercase !important;
}

.bold {
    font-weight: 600 !important;
}

.bw {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.transitions:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
