.mainbody img {
    width: 100%;
    height: auto;
}

.mainbody a {
    text-decoration: underline;
    color: #881a1a;
}

.mainbody a:hover {
    text-decoration: none;
}

.mainbody a.heavy {
    font-weight: 500;
}

h3 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
}

.bw {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.transitions:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.mainbody .col-sm-4,
h3 {
    padding-left: 25px;
    padding-right: 25px;
}

.mainbody .row {
    width: 80%;
    margin: 0 auto;
    margin-top: 75px;
}

.mainbody .row:first-of-type {
    margin-top: 120px !important;
}

.mainbody .row:last-of-type {
    margin-bottom: 120px;
}

h5 {
    font-size: 14px;
}

.modalDialog {
    display: flex;
    flex-direction: column;
	position: fixed;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: rgba(0,0,0,1.0);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > .container {
    order: 2;
    align-self: center;
    color: white !important;
	width: 700px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #000;
}

.close {
    order: 1;
    margin-top: 3%;
    margin-right: 3%;
    align-self: flex-end;
	background: #000000;
	color: white;
    opacity: 1;
	line-height: 25px;
	text-align: center;
	width: 20px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover { color: #ddd; }


.modalDialog img {
    width: 100%;
    height: auto;
}
