.mainbody h4:first-of-type {
    margin-top: 120px;
}

.mainbody p:last-of-type {
    margin-bottom: 120px;
}

.mainbody a {
    text-decoration: underline;
    color: #661a1a;
}

.mainbody a:hover {
    text-decoration: none;
}

.mainbody a.heavy {
    font-weight: 500;
}
